<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="200px" width="250px">
                <p>Username: <strong>{{Users.login}}</strong></p>
                <p>Email: <strong>{{Users.email}}</strong> </p>

                <p>Followers: <strong>{{Users.followers}}</strong></p>

                <p>Following: <strong>{{Users.followers}}</strong></p>

                <p>Public Repositories: <strong>{{Users.public_repos}}</strong></p>

                <p>Location: <strong>{{Users.location}}</strong></p>
            </div>
        </div>
        <div *ngIf='Repos' class="col-md-7 repos">
            <h2 id="repo">Repositories</h2>
            <div class="row">
                <div *ngFor='let repo of Repos'>
                    <div>
                        <div>
                            <a href=" {{repo.html_url}} "><h3 appUnderline>{{repo.name}}</h3> </a>
                        </div>
                        <div class="card-body">
                            <p> {{repo.description}} </p><br>
                            <p>Created {{repo.created_at | dateAgoPipe}} on {{repo.created_at | date}} </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <app-search-form (emitSearch)="searchGit($event)"></app-search-form><br>
        </div>
    </div>
</div>