<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <img src="{{Users.avatar_url}}" alt="profile pic" height="200px" width="250px">
                <p>Username: <strong>{{Users.login}}</strong></p>
                <p>Email: <strong>{{Users.email}}</strong> </p>

                <p>Followers: <strong>{{Users.followers}}</strong></p>

                <p>Following: <strong>{{Users.followers}}</strong></p>

                <p>Public Repositories: <strong>{{Users.public_repos}}</strong></p>

                <p>Location: <strong>{{Users.location}}</strong></p>
            </div>
        </div>
        <div *ngIf='Repos' class="col-md-6">
            <h2 id="repo">Repositories</h2>
            <div class="row">
                <div *ngFor='let repo of Repos'>
                    <div class="card" id="card">
                        <div class="card-header">
                            <a href=" {{repo.html_url}} "><h3 appHighlight>{{repo.name}}</h3> </a>
                        </div>
                        <div class="card-body">
                            <p> {{repo.description}} </p><br>
                            <p>created at::: {{repo.created_at | date}} </p>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-search-form (emitSearch)="searchGit($event)"></app-search-form><br>
        </div>
    </div>
</div>