/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: black;
  color: white;
}
#avatar {
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
  margin-bottom: 5rem;
}
.container {
  padding-top: 2rem;
}
a {
  text-decoration: none;
}
.repos {
  padding: 0 5% 5rem 5%;
  font-weight: 100;
  font-size: 16;
}
.fab {
  font-size: 50px;
}
nav {
  height: 6rem;
  font-size: 25px;
  padding: 0 0 0 2rem;
}
.profile {
  font-weight: 100;
  font-size: 16px;
}
.date {
  font-weight: 100;
  font-size: 14px;
}
.repo {
  font-weight: 100;
  font-size: 16;
}
.days {
  font-weight: 900;
  font-size: 20 !important;
}
.repo-details {
  margin-bottom: 2rem !important;
}
.btn {
  margin: 1rem 0 1rem 0;
}
@media (max-width: 1000px) {
  .container{
      max-width:100%;
  }
  #avatar {
    height: 20vh;
    width: 20vh;
  }
}
@media screen  and (min-width:0px) and (max-width: 500px) {
  .quote-body {
    margin:2rem 0 0 0;
    width: 100%;
    height: auto;
  }

}
@media screen  and (min-width:770px) and (max-width: 1000px) {
  .quote-body {
    margin:2rem;
    width: 20rem;
    height: auto;
    margin-left: 15%;
  }
}